[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/vim-bufkill"]
	path = vim/bundle/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
[submodule "vim/bundle/pydoc"]
	path = vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = https://github.com/matthew-brett/pyflakes-vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-rst-sections"]
	path = vim/bundle/vim-rst-sections
	url = https://github.com/matthew-brett/vim-rst-sections.git
[submodule "vim/bundle/vim-fontsize"]
	path = vim/bundle/vim-fontsize
	url = https://github.com/drmikehenry/vim-fontsize
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-jinja"]
	path = vim/bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "vim/bundle/pep8"]
	path = vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "vim/bundle/scratch.vim"]
	path = vim/bundle/scratch.vim
	url = https://github.com/vim-scripts/scratch.vim
[submodule "vim/bundle/vim-pandoc-syntax"]
	path = vim/bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule "vim/bundle/vim-pandoc"]
	path = vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "vim/bundle/python-syntax"]
	path = vim/bundle/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "vim/bundle/vim-ps1"]
	path = vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-rst-tables"]
	path = vim/bundle/vim-rst-tables
	url = https://github.com/nvie/vim-rst-tables.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-rmarkdown"]
	path = vim/bundle/vim-rmarkdown
	url = https://github.com/vim-pandoc/vim-rmarkdown
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim
[submodule "vim/bundle/vim-cython"]
	path = vim/bundle/vim-cython
	url = https://github.com/anntzer/vim-cython
[submodule "vim/bundle/fzf"]
	path = vim/bundle/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/matthew-brett/spacemacs.git
[submodule "doom-emacs"]
	path = doom-emacs
	url = https://github.com/hlissner/doom-emacs.git
[submodule "vim/bundle/diffchar.vim"]
	path = vim/bundle/diffchar.vim
	url = https://github.com/rickhowe/diffchar.vim
