snippet extrat "Add extra tests"
#: begin--extra
${VISUAL}$0
#: end--extra
endsnippet

snippet path "Pathlib import" b
from pathlib import Path
endsnippet

snippet penv "Python env" b
#!/usr/bin/env python3
endsnippet
