snippet extrat "Add extra tests"
#: begin--extra
${VISUAL}$0
#: end--extra
endsnippet

snippet path "Pathlib import" b
from pathlib import Path
endsnippet

snippet penv "Python env" b
#!/usr/bin/env python3
endsnippet

snippet aparg "Argparse argument" b
parser.add_argument('-a', '--an-option', action='store_true',
                    help='Some toggle option')
endsnippet
