extends rmd

snippet {lang
{{< var lang >}}
endsnippet

snippet {nba
{{< var nb_app >}}
endsnippet

snippet {cell
{{< var cell >}}
endsnippet

snippet [[rp
[$1]{.r}[$2]{.python}
endsnippet

snippet {rk
{{< var run_key >}}
endsnippet

snippet var
{{< var ${VISUAL} >}}
endsnippet
